{#
/**
 * @file site_documentation.html.twig
 * Default theme implementation to present Site Documentation data.
 *
 * This template is used when viewing Site Documentation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_site_documentation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library("site_documentation/site_documentations_list") }}

<div{{ attributes.addClass('site_documentation') }}>
    {% if view_mode == 'full' %}
        <div style="display: flex; justify-content: space-around">
            {% if content %}
                <div style="width:75%; max-width: 600px;">
                  <div class="card">
                    <div class="card__content-wrapper">
                      <div class="field__label">Summary</div>
                      {{ elements['#site_documentation'].getSummary() }}
                    </div>
                  </div>
                    {{content|without('related_docs', 'field_documentation_topics')}}
                </div>
            {% endif %}

            {% if content.related_docs %}
                <div style="width:20%;">
                    <fieldset>
                        <legend>{{ 'Related Documentation'|t }}</legend>
                        <div>
                            {{ content.related_docs }}
                        </div>
                    </fieldset>
                </div>
            {% endif %}
        </div>
    {% else %}
        {% if content %}
            {{content}}
        {% endif %}
    {% endif %}
</div>

